
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}
h1{
    color: rgb(77, 82, 39);
    font-size: 40px;
    
}
h4{
    color: teal;
    font-size: 30px;
    margin: 15px;
    padding-bottom: 20px;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(87, 85, 85);
    padding: 5px 15px;
    border-radius: 10px;
    background: wheat;
}
span{
    background-color: tomato;
    padding: 1px 20px;
    font-size: 40px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
}
span:hover{
    background-color: rgb(173, 75, 58);
}
input{
    height: 45px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(119, 117, 117);
    font-size: 20px;
    outline: none;
}